DangerZone/Library/LastSceneManagerSetup.txt
DangerZone/Library/expandedItems
DangerZone/Library/ProjectSettings.asset
DangerZone/Assembly-CSharp.csproj
DangerZone/Library/metadata
DangerZone/Library/ShaderCache
.DS_Store
